@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

.vline {
  border-right-color: $dark !important;
}
.checkbox {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(221, 221, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(240, 240, 240, 0.19);
  padding: 10px;
}
.center {
  margin: auto;
  width: 40%;
}
.center-text {
  text-align: center;
}
